html, body {
  height: 100%;
  margin: 0;
}

.transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.transactions-container h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.transaction-item {
  background-color: #72d6ab;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-item:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
a {
  font-size:larger;
  text-align: center;
}
