.transactions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .transactions-container h1 {
    text-align: right;
  }
  
  .transaction-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }


  