.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;  
  }
  
  .transaction-details-container {
    background-color: white; 
    padding: 20px;          
    border-radius: 8px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  .details p {
    margin: 10px 0; 
  }
  
  .actions .action-link,
  .actions .action-button {
    margin: 10px;
  }
  